/* reset */
body,p{
    padding: 0;
    margin: 0;
}

/* public */
body{
    background: url(../img/background.jpg) #2f2f2f no-repeat center top;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

/* game-box */
#game-box{
    width: 720px;
    height: 500px;
    margin: 50px auto;
    position: relative;
}

/* #nav */
#nav{
    width: 160px;
    height: 500px;
    border-radius: 10px;
    background: #bbada0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
}

#nav strong,#nav a,#nav span{
    display: block;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

#nav strong{
    height: 100px;
    line-height: 100px;
    background: #ecc400;
    font-size: 50px;
}

#nav a{
    height: 50px;
    background: #8f7a66;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/*#nav a:hover{
    background: #9f8b77;
}*/

.score, .history-score{
    background: #8f7a66;
    border-radius: 6px;
    margin-top: 20px;
}


.score p:nth-child(1), .history-score p:nth-child(1){
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #eee4d5;
    text-align: center;
}

.score p:nth-child(2), .history-score p:nth-child(2){
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

#nav span{
    height: 90px;
    background: #8f7a66;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

#grid-container{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background: #bbada0;
    position: absolute;
    top: 0;
    right: 0;
}

.grid-cell{
    height: 100px;
    width: 100px;
    border-radius: 6px;
    background: #ccc0b3;
    position: absolute;
}

.num-cell{
    height: 100px;
    width: 100px;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    font-weight: bold;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}

#wrap{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
    color: #fff;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

#wrap p{
    margin-top: 100px;
}

.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}